{% from 'macros.html' import task_accordion %} 
{% extends "layout.html" %}
{% block body %}
<div class="row">
<div id="burning_chart" class="jqplot-target span12" style="height: 400px;"></div>
</div>
{{task_accordion(team.daily_meeting_tasks())}}
<script type="text/javascript">
  (function() { 
    "use strict";
    $(document).ready(function() {
      $('ul.nav > li').removeClass('active');
      $("ul.nav > li:nth-child(4)").addClass('active');
      
      var line1={{team.burning_data()}};
      var plot1 = $.jqplot('burning_chart', line1, {
          title:'本周任务燃尽图',
          stackSeries: false,
          legend: { show:true, location: 'e',labels:['剩余','完成'] },
          axes:{
            xaxis:{
              renderer:$.jqplot.CategoryAxisRenderer,
              tickOptions:{
                formatString:'%b&nbsp;%#d'
              },
              ticks:['Mon', 'Tue','Wed', 'Thu', 'Fri', 'Sat','Sun'] 
            },
            yaxis:{
              rendererOptions: {
                forceTickAt0: true
                },
              tickOptions:{
                formatString:'$%.2f',
                }
            }
          },
          highlighter: {
            show: true,
            sizeAdjust: 7.5
          },
          cursor: {
            show: false
          }
      });

      var TeamSelectorView = Backbone.View.extend({
        el: $("#team_selector"),
        events: {
          "click li > a": "select"
        },
        initialize: function() {
          this.current_team = this.$("#current_team");
          this.current_team.text('{{user.teams[0].name}}');
          this.$(".dropdown-menu").children(":first").remove();
          _.bindAll(this, 'select');
        },
        select:function(event){
          this.current_team.text(event.target.text);
          $.get("/burning/team/"+event.target.name, function(data){
            plot1.series[0].data = data['remaining'];
            plot1.series[1].data = data['burning'];
            plot1.replot({});
          });
        }
      });

      new TeamSelectorView();
    });
  }());
  </script>
{% endblock %}