{% extends "layout.html" %}
{% block body %}
<div id ="tasks" class=" ui-widget ui-helper-clearfix">
  <div id="rtasks" class=" ui-tasks-3 ui-widget-content ui-state-default">
    <h4 class="ui-widget-header">Ready</h4>
    <ul class="ui-tasks-ul ui-helper-reset"></ul>
  </div>
  <div id="ptasks" class=" ui-tasks-3 ui-widget-content ui-state-default">
    <h4 class="ui-widget-header">Progress</h4>
  </div>
  <div id="ftasks" class=" ui-tasks-3 ui-widget-content ui-state-default">
    <h4 class="ui-widget-header">Done</h4>
  </div>
</div>

<script type="text/javascript">
  (function() {
    "use strict";
    $(document).ready(function() {
      $('ul.nav > li').removeClass('active');
      $("ul.nav > li:nth-child(1)").addClass('active');
      var $rtasks =$( "#rtasks" ),
        $ptasks = $('#ptasks'),
        $dtasks = $('#dtasks');

      wrapTasks($rtasks,'READY',"#ptasks li,#dtasks li");
      wrapTasks($ptasks,'PROGRESS',"#rtasks li,#dtasks li");
      wrapTasks($dtasks,'DONE',"#ptasks li");
      $rtasks.loadtasks();
      $ptasks.loadtasks();
      $dtasks.loadtasks();
    });
  }());
  </script>
{% endblock %}