<!doctype html>
<html lang="cn">
<head>
  <title>Miami</title>
  <meta charset="utf-8" />
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
  <link href="{{ url_for('static', filename='css/bootstrap-responsive.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/jquery-ui-1.9.1.custom.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/miami.css') }}" rel="stylesheet">
  <link rel="shortcut icon" href="static/img/favicon.ico">
  <style type="text/css">
      body {
        padding-top: 50px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
      }

    </style>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <span class="brand">Miami</span>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li>
              <a href="/"><i class="icon-th-list icon-white"></i> Dashborad</a>
            </li>
            <li>
              <a href="/tasks"><i class="icon-tasks icon-white"></i> Tasks</a>
            </li>
            <li>
              <a href="/planning"><i class="icon-list-alt icon-white"></i> Planning</a>
            </li>
            <li>
              <a href="#"><i class="icon-fire icon-white"></i> Burning</a>
            </li>
            <li>
              <a href="/teams"><i class="icon-th icon-white"></i> Teams</a>
            </li>
          </ul>
        </div>

        <div class="btn-group pull-right">
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            <img src="{{ user.email | gravatar(size=20, rating='x') }}"></img> {{user.name}} <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#"><i class="icon-wrench"></i> Settings</a></li>
            <li class="divider"></li>
            <li><a href="/logout"><i class="icon-share"></i> Logout</a></li>
          </ul>
        </div>
        <!--/.nav-collapse --> </div>
    </div>
  </div>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.8.2.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-dateFormat-1.0.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui-1.9.1.custom.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/miami.js') }}"></script>
  <div class="container">{% block body %}{% endblock %}</div>
  <!-- /container -->
</body>
</html>
