<pre> 
{% macro task_accordion(tasks) -%} 
   <div class="accordion" id="accordion2">
            {% for task in tasks %}
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse{{task.id}}">
                        {{task.title}}
                        <span class="badge{% if task.status=='DONE' %} badge-success {%else%} badge-important {% endif %}">{{task.status}}</span>
                        <span class="badge {{task.price_color()}}">${{task.price}}</span>
                        <span class="badge badge-info">{{task.estimate}}Hours</span>
                    </a>
                </div>
                <div id="collapse{{task.id}}" class="accordion-body collapse" style="height: 0px; ">
                    <div class="accordion-inner">
                        <div class="span8">
                            <div class="row">
                                <span class="label label-info">实际工时{{'{0:0.2g}'.format(task.consuming/3600.0)}}Hours</span>
                            </div>
                            {% for ts in task.time_slots %}
                            <div class="row">
                                <div class="span5">
                                    {% if ts.partner %}
                                    <img src="{{ ts.partner.email | gravatar(size=20, rating='x') }}">
                                    {%else%}
                                    <div style="float:left;height:20px;width:20px;margin: 2px"></div>
                                    {% endif %}
                                    <img src="{{ ts.user.email | gravatar(size=20, rating='x') }}">
                                    <div class="progress {% if ts.partner %} progress-success {%else%}progress-warning{% endif %}">
                                        <div class="bar" style="width: {{'{0:0.2%}'.format(ts.consuming/task.consuming)}}">{{'{0:0.2g}'.format(ts.consuming/3600.0)}}Hours</div>
                                    </div>
                                </div>
                                <div class="span3">
                                    <span class="label">Start@{{ts.start_time.strftime('%Y-%m-%d %H:%m')}}</span>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
{%- endmacro %} 
{% macro review_price_js(name,review_data) -%} 
        $.jqplot('{{name}}', 
            [[{{review_data.done_price}},{{review_data.price}}]],{
                title:'完成率',
                seriesDefaults:{
                    renderer:$.jqplot.BarRenderer,
                    pointLabels: { show: true ,formatString:'$%d',location: 'e', edgeTolerance: -15},
                    shadowAngle: 135,
                    rendererOptions: {
                        barDirection: 'horizontal',
                        varyBarColor: true
                    }
                },
                axes: {
                    yaxis: {
                        renderer: $.jqplot.CategoryAxisRenderer,
                        ticks: ['Done','Price']
                    }
                }
        });
{%- endmacro %} 
{% macro review_estimate_js(name,review_data) -%} 
        $.jqplot('{{name}}', 
            [[{{review_data.actual_hours}},{{review_data.estimate}}]],{
                title:'估算 vs 实际',
                seriesDefaults:{
                    renderer:$.jqplot.BarRenderer,
                    pointLabels: { show: true,formatString:'%dH',location: 'e', edgeTolerance: -15},
                    shadowAngle: 135,
                    rendererOptions: {
                        barDirection: 'horizontal',
                        varyBarColor: true
                    }
                },
                axes: {
                    yaxis: {
                        renderer: $.jqplot.CategoryAxisRenderer,
                        ticks: ['Actual','Estimate']
                    }
                }
        });
{%- endmacro %} 
{% macro review_paired_js(name,review_data) -%} 
        $.jqplot ('{{name}}', [ [
            ['Paired', {{review_data.paired_time}}],['Single', {{review_data.working_hours - review_data.paired_time}}]]] , 
            { 
              title:'结对率',
              seriesDefaults: {
                renderer: jQuery.jqplot.PieRenderer, 
                rendererOptions: {
                  showDataLabels: true
                }
              }, 
              legend: { show:true, location: 'e' }
            }
        );
{%- endmacro %} 
{% macro review_price_ratio_js(name,review_data) -%} 
        $.jqplot ('{{name}}', [{{review_data.price_ratio()|safe}}] , 
            { 
              title:'价值分配',
              seriesDefaults: {
                renderer: jQuery.jqplot.PieRenderer, 
                rendererOptions: {
                  showDataLabels: true,
                }
              }, 
              legend: { show:true, location: 'e' }
            }
        );
{%- endmacro %}
{% macro review_categories_ratio_js(name,review_data) -%} 
        $.jqplot ('{{name}}', [{{review_data.categories_ratio()|safe}}] , 
            { 
              title:'分类数量',
              seriesDefaults: {
                renderer: jQuery.jqplot.PieRenderer, 
                rendererOptions: {
                  showDataLabels: true,
                }
              }, 
              legend: { show:true, location: 'e' }
            }
        );
{%- endmacro %}
{% macro review_categories_price_ratio_js(name,review_data) -%} 
        $.jqplot ('{{name}}', [{{review_data.categories_price_ratio()|safe}}] , 
            { 
                title:'分类价值',
                seriesDefaults: {
                    renderer: jQuery.jqplot.PieRenderer, 
                    rendererOptions: {
                      showDataLabels: true,
                    }
                }, 
                legend: { show:true, location: 'e' }
            }
        );
{%- endmacro %}
{% macro review_valuable_ratio_js(name,review_data) -%} 
        $.jqplot ('{{name}}', [ [
            ['Valuable', {{review_data.valuable_hours}}],['Invalid', {{review_data.working_hours - review_data.valuable_hours}}]]]  , 
            { 
              title:'有效工时',
              seriesDefaults: {
                renderer: jQuery.jqplot.PieRenderer, 
                rendererOptions: {
                  showDataLabels: true,
                }
              }, 
              legend: { show:true, location: 'e' }
            }
        );
{%- endmacro %} 
{% macro review_unplanned_ratio_js(name,review_data) -%} 
        $.jqplot ('{{name}}', [ [
            ['Planned', {{review_data.planneds()}}],['Unplanned', {{review_data.unplanneds}}]]]  , 
            { 
              title:'计划 vs 变化',
              seriesDefaults: {
                renderer: jQuery.jqplot.PieRenderer, 
                rendererOptions: {
                  showDataLabels: true,
                }
              }, 
              legend: { show:true, location: 'e' }
            }
        );
{%- endmacro %} 
</pre>