<<pre>
{% macro task_form(is_ready=false) -%} 
<div id="taskForm" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="taskFormLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="taskFormLabel">New Tasks</h3>
  </div>
  <div class="modal-body">
    还可以输入<span id="charsLeft"></span>字
    <input id="title" type="text" class="input-block-level" placeholder="title">
    <textarea id = "detail"class="input-block-level" rows="10" placeholder="detail"></textarea>
  </div>
  <div class="modal-footer">
    {% if not is_ready %}
    <div class="btn-group pull-right">
        <button id="saveTask" class="btn-save btn btn-primary" style="margin-left: 4px">Save</button>
    </div>
    {% endif %}
    <div id="taskform-price" class="btn-group pull-right">
        <button class="btn btn-success" value="1">$1</button>
        <button class="btn btn-info" value="2">$2</button>
        <button class="btn btn-warning" value="5">$5</button>
        <button class="btn btn-danger" value="10">$10</button>
    </div>
  </div>
</div>
{%- endmacro %} 
{% macro task_form_js(status='NEW',success_func='location=location;') -%} 
    $('#title').limit('33','#charsLeft');
    $('#taskform-price button').click(function(){
      $.ajax({
        type: 'POST',
        url: '/tasks',
        data: '{"title":"'+$('#title').val()+'","detail":"'+$('#detail').val()+'","status":"{{status}}","price":'+$(this).attr('value')+'}',
        success: function(data){
          $('#title').val('');
          $('#title').limit('33','#charsLeft');
          $('#detail').val('');
          {{success_func}}
        },
        dataType: 'json',
        contentType: 'application/json'
      });
    });
    $('#saveTask').click(function(){
        $('#saveTask').attr('disabled','true');
        $.ajax({
          type: 'POST',
          url: '/tasks',
          data: '{"title":"'+$('#title').val()+'","detail":"'+$('#detail').val()+'","status":"{{status}}"}',
          success: function(data){
            $('#title').val('');
            $('#title').limit('33','#charsLeft');
            $('#detail').val('');
            {{success_func}}
          },
          dataType: 'json',
          contentType: 'application/json'
        });
    });
{%- endmacro %} 
</pre>