<pre>
  {% macro task_form(is_ready=false) -%}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="taskFormLabel">New Tasks</h3>
  </div>
  <div class="modal-body">
    还可以输入
    <span id="charsLeft"></span>
    字
    <input id="title" type="text" class="input-block-level" placeholder="title">
    <div style="margin-bottom: 2em">  
      <span>优先级:</span>
        <span id="priorityAmount" style="border:0; color:#f6931f; font-weight:bold;"></span>             
      <div id="prioritySlider" class="slider-primary" style="margin-top: 1em;"></div>
    </div>
    <form>
    <input id="tags" name="tags" type="text" placeholder="Tags"></form>
    <ul id="select_tags" class="tags">
    </ul>
  </div>
  <div class="modal-footer">
    {% if not is_ready %}
    <div class="btn-group pull-right" style="margin-left: 4px">
      <button id="saveTask" class="btn btn-primary">Save</button>
    </div>
    {% endif %}
    <div id="taskform-price" class="btn-group pull-right">
      <button class="btn btn-success btn_pricing" value="1">$1</button>
      <button class="btn btn-info btn_pricing" value="2" >$2</button>
      <button class="btn btn-warning btn_pricing" value="5">$5</button>
      <button class="btn btn-danger btn_pricing" value="10">$10</button>
    </div>
  </div>
  {%- endmacro %} 
</pre>