{% from 'macros_task.html' import task_form %}
{% extends "layout.html" %}
{% block body %}
<!-- Pricing Task Form -->
<div id="modalForm" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="priceFormLabel" aria-hidden="true"></div>

<div id ="borad" class="row">
  <div id="ntasks" class="ui-tasks span6">
    <h4 class="page-header">
      New
      <a id="newtask_btn" role="button" class="btn btn-small pull-right" data-toggle="modal"> <i class="icon-plus"></i>
      </a>
      <div id="total_price" class="pull-right"></div>
    </h4>
    <ul id="taskcard_list" class="ui-helper-reset"></ul>
  </div>
  <div id="rtasks" class="ui-tasks span6">
    <h4 class="page-header">
      Ready
      <div id="total_price" class="pull-right"></div>
    </h4>
    <ul id="taskcard_list" class="ui-helper-reset"></ul>
  </div>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='js/planning.js') }}"></script>
<!-- Templates -->

<script type="text/template" id="taskcard-template">
    <h5 class="title"><%=title%></h5>
    <textarea class="edit"><%=title%></textarea>
    <h6>created: <span class="text-success"><%=created_time%></span></h6>
    <div class="left">
        <p class="text-warning">$<%=price%></p>
        <p class="text-info"><%=estimate%>H</p>
    </div>
    <div class="right">
        <div style="float:right;background-color:#<%=team.color%>;height:20px;width:20px;margin-top: 1px;opacity:<%=1.0*(priority/100)%>" title="<%=team.name%>;"></div>
    </div>
  </script>
<script type="text/template" id="pricingform-template">
  <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Pricing</h3>
  </div>
  <div class="modal-body">
      <blockquote>
          <h4><%=title%></h4>
          <p><%=detail%></p>
      </blockquote>
      <div id="btn-price" class="btn-group pull-right">
          <button class="btn btn-success" value="1">$1</button>
          <button class="btn btn-info" value="2">$2</button>
          <button class="btn btn-warning" value="5">$5</button>
          <button class="btn btn-danger" value="10">$10</button>
      </div>
  </div>
  </script>
<script type="text/template" id="taskform-template">{{task_form()}}</script>
{% endblock %}