{% from 'macros_task.html' import task_form,task_form_js %} 
{% extends "layout.html" %}
{% block body %}
<!-- NEW Task Form -->
<div id="priceForm" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="priceFormLabel" aria-hidden="true"></div>
<!-- NEW Task Form -->
{{task_form()}}
<div id ="tasks" class="row">
  <div id="ntasks" class="ui-tasks span6">
    <h4 class="page-header">
      New
      <a href="#taskForm" role="button" class="btn btn-small pull-right" data-toggle="modal"> <i class="icon-plus"></i>
      </a>
    </h4>
    <ul class="ui-helper-reset"></ul>
  </div>
  <div id="rtasks" class="ui-tasks span6">
    <h4 class="page-header">Ready</h4>
  </div>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='js/tasks.js') }}"></script>
<script type="text/javascript">
  (function() {
    "use strict";
    $(document).ready(function() {
      $('li').removeClass('active');
      $("ul li:nth-child(3)").addClass('active');
      var $ntasks =$( "#ntasks" ),
        $rtasks = $('#rtasks');
      $.miami.wrapTasks($ntasks,'NEW',"#rtasks li",function(ui,data){});
      $.miami.wrapTasks($rtasks,'READY',"#ntasks li",function(ui,data){
        $('#priceForm').children().remove();
        $('#priceForm').append(data.responseText);  
        $('#btn-price button').click(function(){
          $.ajax({
            type: 'PUT',
            url: '/pricing/'+ui.draggable[0].id+'/'+$(this).attr('value'),
            success: function(data){
              $('#priceForm').modal('hide');
              $.miami.moveto(ui.draggable,$rtasks,data);
            },
            dataType: 'html'
          });
        });
        $('#priceForm').modal('show');
      });
      $ntasks.loadtasks();
      $rtasks.loadtasks();

      var taskFormView = new Miami.views.TaskForm({
        success_handle: function() {
          $ntasks.loadtasks();
          $('#taskForm').modal('hide');
          taskFormView.initialize();
        }
      });
    });  
  }());
</script>
{% endblock %}