<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Pricing</h3>
</div>
<div class="modal-body">
    <blockquote>
        <h4>{{task.title}}</h4>
        <p>{{task.detail}}</p>
    </blockquote>
    <div id="btn-price" class="btn-group pull-right">
        <button class="btn btn-success" value="1">$1</button>
        <button class="btn btn-info" value="2">$2</button>
        <button class="btn btn-primary" value="5">$5</button>
        <button class="btn btn-warning" value="10">$10</button>
    </div>
</div>