{% extends "layout.html" %}
{% block body %}
<ul id="myTab" class="nav nav-tabs">
    <li class="active">
        <a href="#team" data-toggle="tab">Team</a>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Personal <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            {% for member in user.teams[0].members %}
            <li>
                <a href="#personal" data-toggle="tab" id="{{member.id}}">@{{member.name}}</a>
            </li>
            {% endfor %}
        </ul>
    </li>
</ul>
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade in active" id="team">
        <div class="ui-charts">
            <ul class="ui-helper-reset">
                <li>
                    <div id="price_chart" class="jqplot-target" style="width:360px; height:200px;"></div>
                </li>
                <li>
                    <div id="estimate_chart" class="jqplot-target" style="width:360px; height:200px;"></div>
                </li>
                <li>
                    <div id="paired_chart" class="jqplot-target" style="width:360px; height:200px;"></div>
                </li>
                <li>
                    <div id="price_ratio_chart" class="jqplot-target" style="width:360px; height:200px;"></div>
                </li>
                <li>
                    <div id="valuable_ratio_chart" class="jqplot-target" style="width:360px; height:200px;"></div>
                </li>
            </ul>
        </div>
    </div>
    <div class="tab-pane fade" id="personal">
        
    </div>
</div>

<script type="text/javascript">
  (function() {
    "use strict";
    $(document).ready(function() {
      $('.navbar-inner li').removeClass('active');
      $(".navbar-inner li:nth-child(6)").addClass('active');

      $('a[data-toggle="tab"]').on('shown', function (e) {
            $.ajax({
                type: 'GET',
                url: '/review/{{user.teams[0].id}}/'+e.target.id,
                success: function(data){
                    $('#personal').children().remove();
                    $('#personal').append(data); 
                },
                dataType: 'html'
            });
       })

      $.jqplot('price_chart', 
            [[{{review_data.done_price}},{{review_data.price}}]],{
                title:'完成率',
                seriesDefaults:{
                    renderer:$.jqplot.BarRenderer,
                    pointLabels: { show: true ,formatString:'$%d',location: 'e', edgeTolerance: -15},
                    shadowAngle: 135,
                    rendererOptions: {
                        barDirection: 'horizontal'
                    }
                },
                axes: {
                    yaxis: {
                        renderer: $.jqplot.CategoryAxisRenderer,
                        ticks: ['Done','Price']
                    }
                }
        });
      $.jqplot('estimate_chart', 
            [[{{review_data.valuable_hours}},{{review_data.estimate}}]],{
                title:'估算 vs 实际',
                seriesDefaults:{
                    renderer:$.jqplot.BarRenderer,
                    pointLabels: { show: true,formatString:'%dH',location: 'e', edgeTolerance: -15},
                    shadowAngle: 135,
                    rendererOptions: {
                        barDirection: 'horizontal'
                    }
                },
                axes: {
                    yaxis: {
                        renderer: $.jqplot.CategoryAxisRenderer,
                        ticks: ['Actual','Estimate']
                    }
                }
        });
        $.jqplot ('paired_chart', [ [
            ['Paired', {{review_data.paired_time}}],['Single', {{review_data.working_hours - review_data.paired_time}}]]] , 
            { 
              title:'结对率',
              seriesDefaults: {
                renderer: jQuery.jqplot.PieRenderer, 
                rendererOptions: {
                  showDataLabels: true
                }
              }, 
              legend: { show:true, location: 'e' }
            }
        );
        $.jqplot ('price_ratio_chart', [{{review_data.price_ratio()|safe}}] , 
            { 
              title:'价值分配',
              seriesDefaults: {
                renderer: jQuery.jqplot.PieRenderer, 
                rendererOptions: {
                  showDataLabels: true,
                }
              }, 
              legend: { show:true, location: 'e' }
            }
        );
        $.jqplot ('valuable_ratio_chart', [ [
            ['Valuable', {{review_data.valuable_hours}}],['Invalid', {{review_data.working_hours - review_data.valuable_hours}}]]]  , 
            { 
              title:'有效工时',
              seriesDefaults: {
                renderer: jQuery.jqplot.PieRenderer, 
                rendererOptions: {
                  showDataLabels: true,
                }
              }, 
              legend: { show:true, location: 'e' }
            }
        );
    });  
  }());
</script>
{% endblock %}