<div class="ui-charts">
    <ul class="ui-helper-reset">
        <li>
            <img src="{{ user.email | gravatar(size=80, rating='x') }}"></img>
        </li>
        <li>
            <div id="price_chart_personal" class="jqplot-target" style="width:360px; height:200px;"></div>
        </li>
        <li>
            <div id="estimate_chart_personal" class="jqplot-target" style="width:360px; height:200px;"></div>
        </li>
        <li>
            <div id="paired_chart_personal" class="jqplot-target" style="width:360px; height:200px;"></div>
        </li>
        <li>
            <div id="price_ratio_chart_personal" class="jqplot-target" style="width:360px; height:200px;"></div>
        </li>
    </ul>
</div>

<script type="text/javascript">
  (function() {
    "use strict";
    $(document).ready(function() {
      $.jqplot('price_chart_personal', 
            [[{{review_data.done_price}},{{review_data.price}}]],{
                title:'完成率',
                seriesDefaults:{
                    renderer:$.jqplot.BarRenderer,
                    pointLabels: { show: true ,formatString:'$%d',location: 'e', edgeTolerance: -15},
                    shadowAngle: 135,
                    rendererOptions: {
                        barDirection: 'horizontal'
                    }
                },
                axes: {
                    yaxis: {
                        renderer: $.jqplot.CategoryAxisRenderer,
                        ticks: ['Done','Price']
                    }
                }
        });
      $.jqplot('estimate_chart_personal', 
            [[{{review_data.actual}},{{review_data.estimate}}]],{
                title:'估算 vs 实际',
                seriesDefaults:{
                    renderer:$.jqplot.BarRenderer,
                    pointLabels: { show: true,formatString:'%dH',location: 'e', edgeTolerance: -15},
                    shadowAngle: 135,
                    rendererOptions: {
                        barDirection: 'horizontal'
                    }
                },
                axes: {
                    yaxis: {
                        renderer: $.jqplot.CategoryAxisRenderer,
                        ticks: ['Actual','Estimate']
                    }
                }
        });
        $.jqplot ('paired_chart_personal', [ [
            ['Paired', {{review_data.paired_time}}],['Single', {{review_data.actual - review_data.paired_time}}]]] , 
            { 
              title:'结对率',
              seriesDefaults: {
                renderer: jQuery.jqplot.PieRenderer, 
                rendererOptions: {
                  showDataLabels: true
                }
              }, 
              legend: { show:true, location: 'e' }
            }
        );
        $.jqplot ('price_ratio_chart_personal', [{{review_data.price_ratio()|safe}}] , 
            { 
              title:'价值分配',
              seriesDefaults: {
                renderer: jQuery.jqplot.PieRenderer, 
                rendererOptions: {
                  showDataLabels: true,
                }
              }, 
              legend: { show:true, location: 'e' }
            }
        );
    });  
  }());
</script>