{% extends "layout.html" %}
{% block body %}
<ul id="myTab" class="nav nav-tabs">
    <li class="active">
        <a href="#team" data-toggle="tab">Team</a>
    </li>
    <li>
        <a id="tab_tasks" href="#tasks" data-toggle="tab">Tasks</a>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Personal <b class="caret"></b>
        </a>
        <ul class="dropdown-menu" id ="tab_member">
            {% for member in user.teams[0].members %}
            <li>
                <a href="#personal" data-toggle="tab" id="{{member.id}}">@{{member.name}}</a>
            </li>
            {% endfor %}
        </ul>
    </li>
</ul>
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade in active" id="team">
        <div class="ui-charts">
            <ul class="ui-helper-reset">
                <li>
                    <div id="price_chart" class="jqplot-target" style="width:360px; height:200px;"></div>
                </li>
                <li>
                    <div id="estimate_chart" class="jqplot-target" style="width:360px; height:200px;"></div>
                </li>
                <li>
                    <div id="paired_chart" class="jqplot-target" style="width:360px; height:200px;"></div>
                </li>
                <li>
                    <div id="price_ratio_chart" class="jqplot-target" style="width:360px; height:200px;"></div>
                </li>
                <li>
                    <div id="valuable_ratio_chart" class="jqplot-target" style="width:360px; height:200px;"></div>
                </li>
            </ul>
        </div>
    </div>
    <div class="tab-pane fade" id="tasks">
        <div class="accordion" id="accordion2">
            {% for tid,task in review_data.tasks.iteritems() %}
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse{{task.id}}">
                        {{task.title}}
                        <span class="badge{% if task.status=='DONE' %} badge-success {%else%} badge-important {% endif %}">{{task.status}}</span>
                        <span class="badge {{task.price_color()}}">${{task.price}}</span>
                        <span class="badge badge-info">{{task.estimate}}Hours</span>
                    </a>
                </div>
                <div id="collapse{{task.id}}" class="accordion-body collapse" style="height: 0px; ">
                    <div class="accordion-inner">
                        <div class="span8">
                            <div class="row">
                                <span class="label label-info">实际工时{{'{0:0.2g}'.format(task.consuming/3600.0)}}Hours</span>
                            </div>
                            {% for ts in task.time_slots %}
                            <div class="row">
                                <div class="span5">
                                    {% if ts.partner %}
                                    <img src="{{ ts.partner.email | gravatar(size=20, rating='x') }}">
                                    {%else%}
                                    <div style="float:left;height:20px;width:20px;margin: 2px"></div>
                                    {% endif %}
                                    <img src="{{ ts.user.email | gravatar(size=20, rating='x') }}">
                                    <div class="progress {% if ts.partner %} progress-success {%else%}progress-warning{% endif %}">
                                        <div class="bar" style="width: {{'{0:0.2%}'.format(ts.consuming/task.consuming)}}">{{'{0:0.2g}'.format(ts.consuming/3600.0)}}Hours</div>
                                    </div>
                                </div>
                                <div class="span3">
                                    <span class="label">Start@{{ts.start_time.strftime('%Y-%m-%d %H:%m')}}</span>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="tab-pane fade" id="personal"></div>
</div>

<script type="text/javascript">
  (function() {
    "use strict";
    $(document).ready(function() {
      $('.navbar-inner li').removeClass('active');
      $(".navbar-inner li:nth-child(6)").addClass('active');

      $('#tab_member a').on('shown', function (e) {
            $.ajax({
                type: 'GET',
                url: '/review/{{user.teams[0].id}}/member/'+e.target.id,
                success: function(data){
                    $('#personal').children().remove();
                    $('#personal').append(data); 
                },
                dataType: 'html'
            });
       });

      $('#tab_tasks').click(function (e) {
          $(this).tab('show');
        })

      $.jqplot('price_chart', 
            [[{{review_data.done_price}},{{review_data.price}}]],{
                title:'完成率',
                seriesDefaults:{
                    renderer:$.jqplot.BarRenderer,
                    pointLabels: { show: true ,formatString:'$%d',location: 'e', edgeTolerance: -15},
                    shadowAngle: 135,
                    rendererOptions: {
                        barDirection: 'horizontal',
                        varyBarColor: true
                    }
                },
                axes: {
                    yaxis: {
                        renderer: $.jqplot.CategoryAxisRenderer,
                        ticks: ['Done','Price']
                    }
                }
        });
      $.jqplot('estimate_chart', 
            [[{{review_data.valuable_hours}},{{review_data.estimate}}]],{
                title:'估算 vs 实际',
                seriesDefaults:{
                    renderer:$.jqplot.BarRenderer,
                    pointLabels: { show: true,formatString:'%dH',location: 'e', edgeTolerance: -15},
                    shadowAngle: 135,
                    rendererOptions: {
                        barDirection: 'horizontal',
                        varyBarColor: true
                    }
                },
                axes: {
                    yaxis: {
                        renderer: $.jqplot.CategoryAxisRenderer,
                        ticks: ['Actual','Estimate']
                    }
                }
        });
        $.jqplot ('paired_chart', [ [
            ['Paired', {{review_data.paired_time}}],['Single', {{review_data.working_hours - review_data.paired_time}}]]] , 
            { 
              title:'结对率',
              seriesDefaults: {
                renderer: jQuery.jqplot.PieRenderer, 
                rendererOptions: {
                  showDataLabels: true
                }
              }, 
              legend: { show:true, location: 'e' }
            }
        );
        $.jqplot ('price_ratio_chart', [{{review_data.price_ratio()|safe}}] , 
            { 
              title:'价值分配',
              seriesDefaults: {
                renderer: jQuery.jqplot.PieRenderer, 
                rendererOptions: {
                  showDataLabels: true,
                }
              }, 
              legend: { show:true, location: 'e' }
            }
        );
        $.jqplot ('valuable_ratio_chart', [ [
            ['Valuable', {{review_data.valuable_hours}}],['Invalid', {{review_data.working_hours - review_data.valuable_hours}}]]]  , 
            { 
              title:'有效工时',
              seriesDefaults: {
                renderer: jQuery.jqplot.PieRenderer, 
                rendererOptions: {
                  showDataLabels: true,
                }
              }, 
              legend: { show:true, location: 'e' }
            }
        );
    });  
  }());
</script>
{% endblock %}