{% from 'macros.html' import task_accordion,review_price_js,review_estimate_js,review_paired_js,review_price_ratio_js,review_valuable_ratio_js,review_unplanned_ratio_js,review_categories_ratio_js,review_categories_price_ratio_js %} 
{% extends "layout.html" %}
{% block body %}
<ul id="myTab" class="nav nav-tabs">
    <li class="active">
        <a href="#team" data-toggle="tab">Team</a>
    </li>
    <li>
        <a id="tab_tasks" href="#tasks" data-toggle="tab">Tasks</a>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Personal <b class="caret"></b>
        </a>
        <ul class="dropdown-menu" id ="tab_member">
            {% for member in user.teams[0].members %}
            <li>
                <a href="#personal" data-toggle="tab" id="{{member.id}}">@{{member.name}}</a>
            </li>
            {% endfor %}
        </ul>
    </li>
</ul>
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade in active" id="team">
        <div class="ui-charts">
            <ul class="ui-helper-reset">
                <li>
                    <div class="well well-small">
                        <h1>${{review_data.unit_price()}} Per Hours</h1>
                    </div>
                </li>
                <li>
                    <div id="price_chart" class="jqplot-target" style="width:360px; height:200px;"></div>
                </li>
                <li>
                    <div id="estimate_chart" class="jqplot-target" style="width:360px; height:200px;"></div>
                </li>
                <li>
                    <div id="paired_chart" class="jqplot-target" style="width:360px; height:200px;"></div>
                </li>
                <li>
                    <div id="price_ratio_chart" class="jqplot-target" style="width:360px; height:200px;"></div>
                </li>
                <li>
                    <div id="valuable_ratio_chart" class="jqplot-target" style="width:360px; height:200px;"></div>
                </li>
                <li>
                    <div id="unplanned_ratio_chart" class="jqplot-target" style="width:360px; height:200px;"></div>
                </li>
                <li>
                    <div id="categories_ratio_chart" class="jqplot-target" style="width:360px; height:200px;"></div>
                </li>                
                <li>
                    <div id="categories_price_ratio_chart" class="jqplot-target" style="width:360px; height:200px;"></div>
                </li>
            </ul>
        </div>
    </div>
    <div class="tab-pane fade" id="tasks">
        {{task_accordion(review_data.tasks.values())}}
    </div>
    <div class="tab-pane fade" id="personal"></div>
</div>

<script type="text/javascript">
  (function() {
    "use strict";
    $(document).ready(function() {
      $('.navbar-inner li').removeClass('active');
      $(".navbar-inner li:nth-child(6)").addClass('active');

      $('#tab_member a').on('shown', function (e) {
            $.ajax({
                type: 'GET',
                url: '/review/{{user.teams[0].id}}/member/'+e.target.id,
                success: function(data){
                    $('#personal').children().remove();
                    $('#personal').append(data); 
                },
                dataType: 'html'
            });
       });

      $('#tab_tasks').click(function (e) {
          $(this).tab('show');
        })

      {{review_price_js('price_chart',review_data)}}
      {{review_estimate_js('estimate_chart',review_data)}}
      {{review_paired_js('paired_chart',review_data)}}
      {{review_price_ratio_js('price_ratio_chart',review_data)}}
      {{review_valuable_ratio_js('valuable_ratio_chart',review_data)}}
      {{review_unplanned_ratio_js('unplanned_ratio_chart',review_data)}}
      {{review_categories_ratio_js('categories_ratio_chart',review_data)}}
      {{review_categories_price_ratio_js('categories_price_ratio_chart',review_data)}}
        
    });  
  }());
</script>
{% endblock %}