{% from 'macros_task.html' import task_form,task_form_js %} 
{% extends "layout.html" %}
{% block body %}
<a href="#taskForm" role="button" class="btn btn-small" data-toggle="modal"> <i class="icon-plus"></i>
</a>

<!-- NEW Task Form -->
{{task_form()}}
<div id="tasks_table">
  <table class="table .table-striped">
    <thead>
      <tr>
        <td>Id</td>
        <td>Status</td>
        <td>Title</td>
        <td>Created</td>
      </tr>
    </thead>
    <tbody>
      {% if pagination.page %}
      {%for task in pagination.items%}
      <tr>
        <td>{{task.id}}</td>
        <td>{{task.status}}</td>
        <td>{{task.title}}</td>
        <td>{{task.created_time}}</td>
      </tr>
      {% endfor %}
    {% endif %}
    </tbody>
  </table>
  {% macro render_pagination(pagination, endpoint) %}
  <div class="pagination">
    <ul>
      {% if pagination.page==1 %}
      <li class="active">
        <a href="#">«</a>
      </li>
      {% else %}
      <li>
        <a href="{{ url_for(endpoint, page=pagination.page - 1) }}">«</a>
      </li>
      {% endif %}
      {%- for page in pagination.iter_pages() %}
    {% if page %}
      {% if page != pagination.page %}
      <li>
        <a href="{{ url_for(endpoint, page=page) }}">{{ page }}</a>
      </li>
      {% else %}
      <li class="active">
        <a href="#">{{ page }}</a>
      </li>
      {% endif %}
    {% else %}
      <li>
        <span class=ellipsis>…</span>
      </li>
      {% endif %}
  {%- endfor %}
  {% if pagination.page ==pagination.pages %}
      <li class="active">
        <a href="#">»</a>
      </li>
      {% else %}
      <li>
        <a href="{{ url_for(endpoint, page=pagination.page+1) }}">»</a>
      </li>
      {% endif %}
    </ul>
  </div>
  {% endmacro %}
{{render_pagination(pagination,'load_tasks_page')}}
</div>

<script type="text/javascript" src="{{ url_for('static', filename='js/tasks.js') }}"></script>
<script type="text/javascript">
(function() {
  "use strict";
  $(document).ready(function() {
    $('.nav li').removeClass('active');
    $(".nav li:nth-child(2)").addClass('active');

    var taskFormView = new Miami.views.TaskForm({
      success_handle: function() {
          location = location;
      }
    });
  });
}());
</script>


{% endblock %}