{% extends "layout.html" %}
{% block body %}
<a href="#taskForm" role="button" class="btn btn-small" data-toggle="modal"> <i class="icon-plus"></i>
</a>

<!-- NEW Task Form -->
<div id="taskForm" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="taskFormLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="taskFormLabel">New Tasks</h3>
  </div>
  <div class="modal-body">
    <input id="title" type="text" class="input-block-level" placeholder="title">
    <textarea id = "detail"class="input-block-level" rows="10" placeholder="detail"></textarea>
  </div>
  <div class="modal-footer">
    <button id="save" class="btn btn-primary">Save</button>
  </div>
</div>
<div id="tasks_table">
  <table class="table .table-striped">
    <thead>
      <tr>
        <td>Id</td>
        <td>Status</td>
        <td>Title</td>
        <td>Created</td>
      </tr>
    </thead>
    <tbody>
      {% if pagination.page %}
      {%for task in pagination.items%}
      <tr>
        <td>{{task.id}}</td>
        <td>{{task.status}}</td>
        <td>{{task.title}}</td>
        <td>{{task.created_time}}</td>
      </tr>
      {% endfor %}
    {% endif %}
    </tbody>
  </table>

  {% macro render_pagination(pagination, endpoint) %}
  <div class="pagination">
    <ul>
      {%- for page in pagination.iter_pages() %}
    {% if page %}
      {% if page != pagination.page %}
      <li>
        <a href="{{ url_for(endpoint, page=page) }}">{{ page }}</a>
      </li>
      {% else %}
      <li class="active"> <a href="#">{{ page }}</a>
      </li>
      {% endif %}
    {% else %}
       <li> <span class=ellipsis>…</span></li>
      {% endif %}
  {%- endfor %}
    </ul>
  </div>
  {% endmacro %}
{{render_pagination(pagination,'load_tasks_page')}}
</div>

<script type="text/javascript">
    (function() {
    "use strict";
    $(document).ready(function() {

      $('.nav li').removeClass('active');
      $(".nav li:nth-child(2)").addClass('active');

      $('#save').click(function(){
        $('#save').attr('disabled','true');
        $.ajax({
          type: 'POST',
          url: '/tasks',
          data: '{"title":"'+$('#title').val()+'","detail":"'+$('#detail').val()+'"}',
          success: function(data){
            location=location; 
          },
          dataType: 'json',
          contentType: 'application/json'
        });
      });
    });
  }());
</script>
{% endblock %}