{% for task in tasks %}
<li id="{{task.id}}" style="display: list-item;">
    <h5>{{task.title}}</h5>
    <div class="left">
        <p class="text-warning">${{task.price}}</p>
        <p class="text-info">{{task.estimate}}H</p>
    </div>
    <div class="right">
        <div style="float:right;background-color:#{{task.team.color}};height:20px;width:20px;margin-top: 1px" title="{{task.team.name}}"></div>
        {% if task.owner %}
        <img src="{{ task.owner.email | gravatar(size=20, rating='x') }}" title="{{task.owner.name}}"></img>
    {% endif %}
   
    {% if task.partner %}
        {% if task.partner.name ==  user.name%}
    <button class="btn btn-mini btn-leave" type="button">离开
    </button>
    {%else%}
    <img src="{{ task.partner.email | gravatar(size=20, rating='x') }}" title="{{task.partner.name}}"></img>
{% endif %}
    {% elif task.status=='PROGRESS' and task.owner.name!=user.name%}
<button class="btn btn-mini btn-join" type="button">加入
</button>
{% endif %}
</div>
</li>
{% endfor %}