{% for task in tasks %}
<li id="{{task.id}}" style="display: list-item;">
    <h5>{{task.title}}</h5>
    <small>{{task.status}}</small>
    <p class="text-warning">${{task.price}}</p>
    <p class="text-info">{{task.estimate}}H</p>
    <p class="text-info">{{task.consuming}}S</p>
    <p class="text-info">{% if task.owner %}{{task.owner.name}}{% endif %}</p>
    {% if task.partner %}
        {% if task.partner.name ==  user.name%}
    <button class="btn btn-mini btn-leave" type="button"> <i class="icon-share"></i>
        {%else%}
        <p class="text-info">{{task.partner.name}}</p>
        {% endif %}
    {% elif task.status=='PROGRESS' and task.owner.name!=user.name%}
        <button class="btn btn-mini btn-join" type="button"> <i class="icon-random"></i>
        </button>
        {% endif %}
    </li>
    {% endfor %}