{% extends "layout.html" %}
{% block body %}
<style type="text/css">
      .form-signin {
        max-width: 600px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
      .form-signin .form-signin-heading,
      .form-signin .checkbox {
        margin-bottom: 10px;
      }
      .form-signin button {
        margin-left: 480px;
      }
      .form-signin input[type="text"],
      .form-signin input[type="textarea"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }

    </style>
<form class="form-signin">
    <h2 class="form-signin-heading">New Task</h2>
    <input id="title" type="text" class="input-block-level" placeholder="title">
    <textarea id = "detail"class="input-block-level" rows="20" placeholder="detail"></textarea>
    <button id="save" class="btn btn-large btn-primary" type="button">Save</button>
</form>
<script type="text/javascript">
    (function() {
    "use strict";
    $(document).ready(function() {
      $('#save').click(function(){
        $.ajax({
          type: 'POST',
          url: '/api/task',
          data: '{"title":"'+$('#title').val()+'","detail":"'+$('#detail').val()+'"}',
          success: function(data){
            alert(data);
          },
          dataType: 'json',
          contentType: 'application/json'
        });
      });
      $('li').removeClass('active');
      $("ul li:nth-child(2)").addClass('active');
    });
  }());
</script>
{% endblock %}